# node-pre-gyp directories
build/
build-tmp*/
dist/
# for development
node_modules/
test/
archived/
# archived versions of oboe
oboe-*
# don't distribute the change log
oboe/InternalChangeLog
# links created by setup-liboboe
oboe/liboboe-1.0.so.0
oboe/liboboe.so
# development focused
*.tgz
*.tmp
*-notes.md
.editorconfig
.eslintrc.json
.github/
.npmignore
.nyc_output/
.vscode/
.travis.yml
bench/
env.sh
CONTRIBUTING.md
Gulpfile.js
test.sh
working/
.env
