build/
node_modules/
test/
archived/
# archived versions of oboe
oboe-*
# links created by setup-liboboe
oboe/liboboe-1.0.so.0
oboe/liboboe.so
# development focused
.vscode/
.npmignore
.travis.yml
CONTRIBUTING.md
Gulpfile.js
env.sh
.editorconfig
*.tgz
*.tmp
*-notes.md
working/
