name: Prep - Build Docker Image (on Dockerfile push)

# workflow is for a branch push only and ignores main.
# push to main (which is also pull request merge) has a more elaborate workflow to run
# github repo is configured with branch protection on main.
on:
  push:
    branches-ignore:
      - 'main'
    paths:
      - '.github/docker-node/*.Dockerfile'

  workflow_dispatch:

jobs:
  load-docker-node:
    name: Load Docker Node Config JSON
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    # github actions triggered by on push will be triggered by both branch and tag push.
    # the paths filter only applies to branch push and as a result the workflow will run on tag push.
    # adding tags-ignore: filter causes the workflow to not run at all.
    # add a conditional to prevent tag push runs.
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}

    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v3

        # comments for: docker-node.json
      - name: Load build group data
        id: set-matrix
        run: .github/scripts/matrix-from-json.sh .github/config/docker-node.json

  build-push:
    name: Build Docker Images
    runs-on: ubuntu-latest
    needs: load-docker-node

    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.load-docker-node.outputs.matrix) }}

    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./.github/docker-node/
          file: ./.github/docker-node/${{ matrix.tag }}.Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/node:${{ matrix.tag }}
